/* General selector */

body {
    /* font-family: 'Livvic', sans-serif; */
    font-family: 'Poppins', sans-serif;
}

.images img:not(.active) {
    display: none;
}


.thumb_nail_container div:not(.selected) {
    filter: brightness(0.2);
}

.selected {
    box-shadow: 2px 2px 4px black;
}


.thumb_img {

    flex-grow: 1;
    background-size: cover;
    background-position: center;

}


/* ANIMATION */

.slider:hover button {
    visibility: visible !important;
}